@model IEnumerable<MyApp.Entities.Resturant>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>OdeToFood</title>
</head>
<body>
    <h1>Welcome</h1>
    <table>
        @foreach (var resturant in Model)
        {
        <tr>
            <td>@resturant.id</td>
            <td>@resturant.name</td>
        </tr>
        }
    </table>
</body>
</html>